
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landing</title>
</head>
<body>
    <div>
        <h2>Landing Page</h2>
        @Html.ActionLink("Realize seu login para acessar o Movin", "Logar", "Publico")
    </div>
</body>
</html>
