@model IEnumerable<M0v1n.Models.Anuncio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAnuncios.cshtml";
}

@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="single-blog">
            <div class="single-blog-img">
                <a href="blog-details.html">
                    <img src=~/Content/img/blog/1.jpg alt="">
                </a>
            </div>
            <div class="blog-meta">
                <span class="comments-type">
                        <i class="fa fa-comment-o"></i>
                        <a href="#">11 comments</a>
                    </span>
            </div>
           
            <div class="blog-text">
                @Html.DisplayFor(modelItem => item.Descricao)
                <p><strong>Locador: </strong>@Html.DisplayFor(modelItem => item.Locador.NomeLocador)</p>
            </div>
            @Html.ActionLink("Veja Mais", "Details", new { id = item.AnuncioID }, htmlAttributes: new { @class = "ready-btn" })
        </div>
    </div>
}