
@{
    Layout = "~/Views/Shared/_LayoutAdmlog.cshtml";
    ViewBag.Title = "AcessoNegadoAdm";
}

<div class="form-horizontal">
    <br />
    <h2 class="text-center">Acesso Negado</h2>
    <h3 class="text-center">@Html.ActionLink("Faça seu Login para acessar os dados", "LogarAdm", "Administradores")</h3>
</div>

